

.tempo_real{
    display: flex;
}
.grafico_linha{
    color:black;
}

.grafico_donut
{
    width: 50%;
    height: 500px;
    
}

#nome_estac
{
    position: absolute;
    font-family: tahoma;
    font-size: 2VW;
    font-weight: bold;
    margin-left: 10VW;
    margin-top: 3VW;
}